[Desktop Entry]
X-SuSE-translate=true
Type=Application
Exec=qrestclient
Name=QRestClient
GenericName=REST client for developers 
X-KDE-StartupNotify=true
Icon=qrestclient
Terminal=false
Categories=Development;Utilities;
InitialPreference=9